@import "bootstrap";

#app { max-width: 750px; }

li {
  &.gateway form { display: none; }
  &.gateway.editing form { display: block; }
}

li {
  &.device form { display: none; }
  &.editing form { display: block; }
}

.nav > li > a {
  padding-left: 12px;
  padding-right: 12px;
}



.device-list {
  .device {
    .panel-heading .label { float: right; }
    h4 { margin: 5px 0 0 0; }
    .btn-group { float: right; }
  }
}

.device {
  .panel-heading .label { float: right; }
}

.command {
  .btn-group { float: right; }
}

.clear { clear: both; height: 0; float: none; }

.list-group {
  .list-group-item {
    padding: 0;
    a {
      display: block;
      padding: 10px 15px;
      color: #000;
    }
    a:hover {
      text-decoration: none;
      color: #fff;
      background: #ccc; 
    }
  }
}

textarea.form-control {
  min-height: 100px;
}

.panel form + a.btn  {
  float: right;
}

.panel h4 { 
  line-height: 2;
  a.btn { float: right; }
}
